*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  

}
.home{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(180deg, #ffd901 0% , #ff3300 100%);
    width: 100%;
    height: 100vh;
      
} 
.container{
    width: 70rem;
    height: 500px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 30px;
  }
  .box-1 {
    position:absolute;
    width: 380px;
    height: 380px;
     background:linear-gradient(60deg, #ff3300 10%, #ffd901 100%);
    margin: 5%;
    margin-left: -5%;
    border-radius: 30px;
    -webkit-box-shadow: 7px 11px 33px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 11px 33px -8px rgba(0,0,0,0.75);
    box-shadow: 7px 11px 33px -8px rgba(0,0,0,0.75);
}

  .box-content{
 margin-top: 7%;
    width: 40%;
    height: 100%;
    position: relative;
    right: -50%; 
    /* background-color: aquamarine */
    
  
}


  .box-2{ 
    /* background-color:orange; */
    line-height: 2rem;

    }
    .box-2 p{
        color: rgb(92, 92, 92);
        padding: 10px 10px;
    }
h1{
    text-transform: capitalize;
    padding: 10px 10px;
}
a{

   padding: 15px 40px ;
   border-radius: 30px;
   text-decoration: none;
   list-style: none;
   background:linear-gradient(60deg, #ff3300 10%, #ffd901 100%);
   color: white;
   text-transform:uppercase;
   font-size: larger;
   font-weight: bold;
   margin-left: 2%;
   margin-top: 3%;
   position:absolute;
   letter-spacing: 1px;
   
   
}
.navigate-up-down{
 margin-top:-32%;
 margin-left:95%;
border-radius: 30px;
display: flex;
position: relative;
 width: 15px;
 height: 50px;
 background-color: rgb(255, 0, 43);
cursor: pointer;
pointer-events: stroke;

}
.navigate-up-down::before{
    content: "";
    width: 15px;
    height: 15px;
    top: -30px;
    position: absolute;
    background-color: #9b9b9b;
    border-radius: 50%;

}
.navigate-up-down::after{
    content: "";
    width: 15px;
    height: 15px;
    bottom: -30px;
    position: absolute;
    background-color: #9b9b9b;
    border-radius: 50%;
}